*{
	font-size: 18px;
	font-family: "Lato", "Roboto", sans-serif;
}

.container{
	display: flex;
	background-color: lightblue;
	flex-direction: row;
	flex-wrap: wrap;
	/*justify-content: space-around;*/
}
.box{
	margin: 1rem;
	color: white;
	padding: 1rem;
	background-color: rebeccapurple;
	text-align: center;
	flex-grow: 1;

}
.box4, .box5{
	order: -1;
}

.box8{
	order: 1;
}

.box10{
	flex-grow: 2;
}