
.box{
	color: white;
	font-size: 1em;
	text-align: center;
	text-shadow: .03em .03em 0 rgba(0,0,0,0.1);
	padding: 3em;

}
.box1{background: CadetBlue;}
.box2{background: Bisque ;}
.box3{background: Chocolate;}
.box4{background: Coral ;}
.box5{background: Cornsilk;}
.box6{background: Cyan ;}
.box7{background: DarkBlue;}
.box8{background: DarkOrchid ;}
.box9{background: tomato;}
.box10{background: DeepPink ;}

.container{
	display: flex;
	/*inline-flex option*/
	border: .3em solid teal;
	flex-direction: column;
	min-height: 100vh;
}